{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['setting', 'api', 'oauth'] %}

{% block title %}{{ 'api.admin.oauth.client_registration'|trans }}{% endblock %}
{% block sub_title %}{{ 'api.admin.management'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form name="client_form" role="form" id="client_form" method="post" action="" novalidate>
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <span class="card-title">{{ 'api.admin.oauth.client_registration'|trans }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="clientInfo">
                            <div class="card-body">

                                {# identifier #}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'api.admin.oauth.identifier_tooltip'|trans }}">
                                            <span>{{ 'api.admin.oauth.identifier'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ms-1"></i>
                                            <span class="badge bg-primary ms-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.identifier) }}
                                            </div>
                                            {{ form_errors(form.identifier) }}
                                        </div>
                                    </div>
                                </div>

                                {# secret #}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'api.admin.oauth.secret_tooltip'|trans }}">
                                            <span>{{ 'api.admin.oauth.secret'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ms-1"></i>
                                            <span class="badge bg-primary ms-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.secret) }}
                                            </div>
                                            {{ form_errors(form.secret) }}
                                        </div>
                                    </div>
                                </div>

                                {# scope #}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'api.admin.oauth.scope_tooltip'|trans }}">
                                            <span>{{ 'api.admin.oauth.scope'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ms-1"></i>
                                            <span class="badge bg-primary ms-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.scopes, {'label_attr': {'class': 'checkbox-inline'}}) }}
                                            </div>
                                            {{ form_errors(form.scopes, {'label_attr': {'class': 'checkbox-inline'}}) }}
                                        </div>
                                    </div>
                                </div>

                                {# redirect_uri #}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'api.admin.oauth.redirect_uri_tooltip'|trans }}">
                                            <span>{{ 'api.admin.oauth.redirect_uri'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ms-1"></i>
                                            <span class="badge bg-primary ms-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.redirect_uris) }}
                                            </div>
                                            {{ form_errors(form.redirect_uris) }}
                                        </div>
                                    </div>
                                </div>

                                {# grant_type #}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'api.admin.oauth.grant_type_tooltip'|trans }}">
                                            <span>{{ 'api.admin.oauth.grant_type'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ms-1"></i>
                                            <span class="badge bg-primary ms-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.grants, {'label_attr': {'class': 'checkbox-inline'}}) }}
                                            </div>
                                            {{ form_errors(form.grants, {'label_attr': {'class': 'checkbox-inline'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink"
                               href="{{ url('admin_api_oauth') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'api.admin.oauth.management'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">
                                    {{ 'admin.common.registration'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
